#crud-usuarios {
    border: solid 1px;
    width: 100%;
}

.marco {
    display: inline-block;
    background-color: antiquewhite;
    border: solid 1px;
    width: 25%;
    
}

.marco button{
    display: block;
    margin: auto;
}

.marco p {
    text-align: center;
}

.marco img {
    display: block;
    margin: auto;
}