<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headers">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>DemoThymeleaf</title>
	<script src="https://kit.fontawesome.com/4358b9453c.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/styles/maquetacion-basica.css}">
</head>

<body>
	<div class="header" th:fragment="headerContent">
		<div class="container">
			<div class="col-izq">
				<img src="/images/logo-icon.png" />

				<h1 th:text="#{company.name}">My Company</h1>

			</div>
			<div class="col-der">
				<a href="#"><i class="fas fa-search"></i></a> <a href="#">Registro</a>
				<a href="#">Login</a>
			</div>
		</div>
	</div>

	<div class="nav-bar" th:fragment="navBarContent">
		<div class="container">
			<a th:href="@{/}">Home</a> <a th:href="@{/products/}">Products</a> <a
				href="#">Porfolio</a> <a href="#">Contact</a>
		</div>
	</div>

	<div class="footer" th:fragment="footerContent">
		<div class="row1">
			<div class="container">
				<div class="footer-col">
					<a href="#">Learning</a> <a href="#">Community</a> <a href="#">Channels</a>
				</div>
				<div class="footer-col">
					<a href="#">FAQ</a> <a href="#">Experiences</a> <a href="#">Collections</a>
				</div>
			</div>
		</div>
		<div class="row2">
			<div class="container">
				<a th:href="@{/}">Home</a> <a th:href="@{/products/}">Products</a> <a
					href="#">Porfolio</a> <a href="#">Contact</a>
			</div>

		</div>
	</div>
</body>
</html>